@import "../../../styles.scss";

#cart,
#cart-wrapper {
  display: flex;
  flex-direction: column;
}

#cart {
  min-width: 340px;
  gap: 8px;
  #cart-header {
    display: flex;

    div,
    button {
      height: 32px;
    }

    div {
      display: flex;
      align-items: center;
      padding-left: 8px;
      flex-grow: 1;
      font-weight: 800;
      color: $dark-color;
      background: $primary;
    }

    button {
      padding-right: 0;
      padding-left: 60px;
    }
  }

  .centered {
    align-items: center;
    justify-content: center;
  }

  #cart-wrapper {
    border: 1px solid $primary;
    background: $dark-color;
    min-height: 200px;
    animation: light-up 1s ease-in-out forwards;
    #placeholder {
      font-style: italic;
      color: $primary-100;
    }
  }

  @keyframes light-up {
    0% {
      filter: drop-shadow(0 0 16px #e8be6b02);
    }
    100% {
      filter: drop-shadow(8px 0px 24px #e8be6b21);
    }
  }
}
