<div id="navbar">
    @if(logged){
        <div>
            Tarkov's Hell
        </div>
        <div>
            <button class="sign-in">Sign in</button>
            <button class="stealth">Sign up</button>
        </div>
    }@else {
        <div>
            @for(page of menuPages ; track page){
                <button class="stealth active-menu">{{page | titlecase}}</button>
                <div class="vertical-divider"></div>
            }
        </div>
        <div>
            <div>monmail&#64;mail.fr</div>
            <button (click)="logout()">Logout</button>
        </div>
    }
    
</div>















 
