<div id="navbar">
    @if(!(isLogged$ | async )){
        <div [routerLink]="['/hideout']">
            Tarkov's Hell
        </div>
        <div>
            <button class="sign-in" routerLink="/login">Sign in</button>
            <button class="stealth"routerLink="/login/register">Sign up</button>
        </div>
    }@else {
        <div>
            @for(page of menuPages ; track page){
                <button class="stealth active-menu" [routerLink]='page'>{{page | titlecase}}</button>
                <div class="vertical-divider"></div>
            }
        </div>
        <div>
            <div>{{tarkovUserName}}</div>
            <button (click)="logout()">Logout</button>
        </div>
    }
    
</div>