<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="username form-input">
    <input
      placeholder="type your username"
      class="username"
      formControlName="username"
      type="email"
    />
  </div>

  <div class="password form-input">
    <input
      placeholder="type your password"
      class="password"
      formControlName="password"
      type="password"
    />
  </div>
  <div class="checkbox-wrapper">
    <input id="consent" type="checkbox" />
    <label for="consent"
      >J’accepte come un pigeon de tout donner à la Huber Corp.</label
    >
  </div>

  <button type="submit">Sign Up</button>
</form>
