<h1>Register</h1>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="username form-input">
    <input
      placeholder="type a username"
      class="username"
      formControlName="username"
      type="email"
    />
  </div>

  <div class="password form-input">
    <input
      placeholder="type a password"
      class="password"
      formControlName="password"
      type="password"
    />
  </div>
  <div id="pwd-checker-bar">
    @for (item of (pwdSecurityLevel | async); track item) {
      <div class="progress-element"></div>
    }
  </div>
  <div class="checkbox-wrapper">
    <input id="consent" type="checkbox" />
    <label for="consent"
      >J’accepte come un pigeon de tout donner à la Huber Corp.</label
    >
  </div>

  <button [disabled]="!signUpForm.valid" type="submit">Sign Up</button>
</form>
