<div id="hideout-detail">
    @if(station){
        <div class="content">
            <p class="hideout">Ma planque</p>
            <div class="header">
                <img [src]="station.imageLink" alt="">
                <p>{{station.name}}</p>
                <p>(Niveau :{{station.level}})</p>
            </div>
            <div class="item-required">
               @for(stationItem of station.stationItems ; track stationItem){
                <div class="items" (click)="addToCart(stationItem.item.id, stationItem.quantity)">
                  <img [src]=" stationItem.item.iconLink" alt="">
                  {{ stationItem.item.name}}
                  <p>x {{ stationItem.quantity}}</p>
                </div>
               }
            </div>
            <button (click)="showCart()">Show Cart</button>
        </div>
    }

    <app-cart></app-cart>

