<!-- 
  ****************
  **** LOGIN  ****
  ****************
 -->

<h1>Login</h1>

<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">


  <div class="input-wrapper">
    <div class="username form-input">
      <input
        placeholder="type your username"
        class="username"
        formControlName="username"
        type="email"
      />
    </div>
    @if(usernameErrorMessage){
    <div class="input-error">{{ usernameErrorMessage }}</div>
    }
  </div>

  <div class="input-wrapper">
    <div class="password form-input">
      <input
        placeholder="type your password"
        class="password"
        formControlName="password"
        type="password"
      />
    </div>
    @if(passwordErrorMessage){
    <div class="input-error">{{ passwordErrorMessage }}</div>
    }
  </div>

  <a href="#">forgot password ?</a>
  <button type="submit">Sign In</button>
  <div class="divider"></div>
  <button class="stealth" routerLink="register">Sign up</button>
</form>
