body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
    #app-navbar{
        width: 80%;
    }
    #app-router-outlet{
        width: 60%;
    }
}

