<div class="page">
  <div class="header-page">
    <h2>Hidout</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
      praesentium voluptate itaque beatae quam consequatur alias mollitia amet
      vitae officiis. Magni autem suscipit id! Nemo recusandae at explicabo,
      officia aperiam non veritatis optio repudiandae quam expedita accusamus
      quas, nobis odit!
    </p>
    <form class="filter-wrapper">
      <div class="checkbox-wrapper">
        <input
          type="checkbox"
          [formControl]="hidelockedStation"
          name="hide-lock"
          id="hide-lock"
        />
        <label for="hide-lock">hide locked stations</label>
      </div>
    </form>
    <div class="divider"></div>
  </div>

  <div class="content-page">
    <div class="stations-list">
      <div id="hideout-displayer">
        @for(station of (stations$ | async) ; track station ){
        @if(!(hidelockedStation.valueChanges | async)){
        <app-hideout-station-item
          [station]="station"
        ></app-hideout-station-item>
        
        } 
        @else if(isLocked(station)) {
        <app-hideout-station-item
          [station]="station"
        ></app-hideout-station-item>
        } 
      }
      </div>

      @if(hidelockedStation.valueChanges | async){
      <button class="stealth" (click)="showAllStation()">
        Show all stations
      </button>
      }
    </div>

    <app-cart></app-cart>
  </div>
</div>
