@import "../../../styles.scss";

.page {
  #hideout-displayer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    app-hideout-station-item{
      flex-basis: 150px;
      flex-grow: 1;
    }
  }

}


@media screen and (min-width: 901px){
  .page{
    .content-page{
      app-cart{
        min-width: 500px;
        flex-grow: 1;
      }
    }
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .page{
    .content-page{
      app-cart{
        min-width: 400px;
        flex-grow: 1;
      }
    }
  }
}