@import "../../../styles.scss";

.page { 
  .stations-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  #hideout-displayer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
      .stealth{
        align-self: center;
      } 
      app-hideout-station-item{
        flex-basis: 180px;
        flex-grow: 1;
      }
    }
  }
}


@media screen and (min-width: 901px){
  .page{
    .content-page{
      app-cart{
        min-width: 500px;
        flex-grow: 1;
      }
    }
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .page{
    .content-page{
      app-cart{
        min-width: 400px;
        flex-grow: 1;
      }
    }
  }
}