@import "../../../styles.scss";

#login-page {
  border: 1px solid $primary;
  filter: drop-shadow(0 4px 16px #c28c5927);
  background-color: $dark-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
