@import "../../../styles.scss";

#login-page {
  border: 1px solid $primary;
  filter: drop-shadow(0 4px 16px $primary-050);
  background-color: $dark-color;
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  h1 {
    color: $primary;
    min-height: 6rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  
}
