/* You can add global styles to this file, and also import other style files */
$dark-color : #202020;
$primary : #C28C59;
$primary-100 : #9F8D7C;
$light-color : #F9F9F9;


*{
    padding: 0;
    margin : 0;
}
body{
    background-color: $dark-color;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background: $primary;
    color: $dark-color;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &:active{
        background: $primary-100;
    }

}
