/* You can add global styles to this file, and also import other style files */
$dark-color: #202020;
$primary: #c28c59;
$primary-100: #9f8d7c;
$primary-050: #e8be6b;
$light-color: #e5d6c8;

//  TAILLE DE L'ECRAN EN <= à 360px

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: $dark-color;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: $primary;
  color: $dark-color;
  border: none;
  padding: 0.5rem 1rem;
  position: relative;
  font-weight: 400;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    background: $primary-100;
  }
  &.stealth {
    background: none;
    color: $primary-100;
  }
  &.sign-in {
    padding-right: 40px;
    color: $light-color;
    font-weight: 600;
    &::after {
      content: url("./assets/signIn.svg");
      display: flex;
      position: absolute;

      top: 50%;
      transform: translateY(-50%);

      right: 0.5rem;
      height: 24px;
      width: 24px;
    }
  }
}

input[type="password"],
input[type="email"] {
  border: 1px solid $primary;
  background-color: $dark-color;
  padding: 0.75rem;
  color: $light-color;
  &::placeholder {
    color: $primary-100;
    font-style: italic;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary-050;
  }
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  border: 3px solid $primary;
  height: 1.5rem;
  min-width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    background: $primary;
    opacity: 0;
  }
  &:checked::before {
    opacity: 1;
  }
}

.checkbox-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  label {
    color: $primary-050;
    font-size: 12px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .header-page {
    color: $light-color;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 8px;
    .divider {
      margin: 16px 0 40px 0;
    }
  }
  
  .content-page {
    gap: 16px;
    display: flex;
  }
}

.divider {
  height: 1px;
  width: 100%;
  background: $primary;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//  TAILLE DE L'ECRAN >= 360px
@media screen and (max-width: 361px) {
  .page {
    // background: hotpink;
    .content-page {
      flex-direction: column;
    }
  }
}

//  TAILLE DE L'ECRAN ENTRE 361px et 600px
@media screen and (min-width: 361px) and (max-width: 600px) {
  .page {
    display: flex;
    // background: yellow;
    .content-page {
      flex-direction: column;
    }
  }
}

//  TAILLE DE L'ECRAN ENTRE 601px et 900px
@media screen and (min-width: 601px) and (max-width: 900px) {
  .page {
    // background: rgb(0, 255, 0);
    .content-page {
      flex-direction: column;
    }
  }
}

//  TAILLE DE L'ECRAN ENTRE 901px et 900px
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .page {
    // background: rgb(0, 204, 255);
  }
}

//  TAILLE DE L'ECRAN ENTRE 1201px et 1920px
@media screen and (min-width: 1201px) and (max-width: 1920px) {
  .page {
    width: 1000px;
  }
}

//  TAILLE DE L'ECRAN au dessus de 1920px
@media screen and (min-width: 1920px) {
  .page {
    // background: rgb(255, 0, 81);
    width: 1200px;
  }
}
